.block {
    background-color:blanchedalmond;
    width: 80%;
    margin: auto;
}

header, main, footer{
    margin-left: 20%;
    font-family: 'Roboto', sans-serif;
}
.myGithub{
    text-decoration: none;
}
footer{
    margin-top: 20px;
    border: 1px solid black;
    width: 300px;
    margin-left: 70%;
    text-align: center;
}